<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
	
		<!-- 一下配置实用jdbc直连数据库。需要修改用户名密码。 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/sotou</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		
		
		<!-- 使用 datasource。参见 http://wiki.sotou.cn/wiki/bin/view/搜投网数据访问层/tomcat+JNDI数据源绑定  -->
		<!-- <property name="connection.datasource">java:comp/env/jdbc/sotouDS</property> -->
		
		
		<property name="connection.autoReconnect">true</property> 
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

	</session-factory>
</hibernate-configuration>
