<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>µÇÂ½</title>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../css/login.css" rel="stylesheet">
</head>
<body>
<div class="center-block" id="page">
    <div class="header">
    	<h1 id="logo">
        <a href=""><img alt="ËÑÍ¶Íø" src="https://s.tbcdn.cn/apps/login/static/logo.png"></a>
        </h1>
    </div>
    <div class="content">
       <div id="loginPic">
       		<div class="pull-right" id="login-box">
       		   <form id="login-form" role="form">
       		      <legend>µÇÂ½</legend>
       		      <input type="email" class="form-control" id="email" placeholder="ÓÊÏä">
       		      <input type="password" class="form-control" id="password" placeholder="ÃÜÂë">
       		      <div class="login-row">
       		      <label id="login-label" class="pull-left">
       		      	<input type="checkbox"><span style="margin-left: 5px;">×Ô¶¯µÇÂ½</span>
       		      </label>
       		      <a class="pull-right" href="" id="forgetPsw">Íü¼ÇÃÜÂë£¿</a>
       		      </div>
       		      <input type="submit" value="µÇÂ½" class="btn" id="login-btn">
       		   </form>
       		   <div class="row" id="otherAccount">
       		       <div class="col-md-4"><a><img>QQ</a></div>
       		       <div class="col-md-4"><a><img>ÐÂÀËÎ¢²© </a></div>
       		       <div class="col-md-4"><a><img>Ö§¸¶±¦</a></div>
       		   </div>
       		</div>
       </div>
    </div>
    <div class="footer">
    </div>
   </div>
</body>
</html>